* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > *,
.grid > * {
  height: 200px;
}

.amarillo {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
}

.rojo {
  background-color: red;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

@media screen and (min-width: 522px) {
  .amarillo {
    background-color: orange;
    color: green;
  }

  .rojo {
    float: left;
    width: 50%;
  }

  .azul {
    float: left;
    width: 50%;
  }

  .verde {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 922px) {
  .rojo {
    float: left;
    width: 33%;
  }

  .azul {
    float: left;
    width: 33%;
  }

  .verde {
    float: right;
    width: 34%;
  }
}
