* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container > * {
  height: 150px;
}

header {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

@media screen and (min-width: 576px) {
  .red,
  .blue {
    float: left;
    width: 50%;
  }

  .green {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .red,
  .blue,
  .green {
    width: 33.3%;
  }
}
